
.container{
    border:1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.infor-container{
    width: 50%;
    display: flex;
    padding:5px 10px;
    flex-direction: column;
}