.block-detail {
    width: 100%;
    background: var(--background-root);
    color: #ffffff;
    padding: 0 15rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .block-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &> p {
            text-transform: uppercase;
            font-size: xx-large;
            font-weight: bolder;
            line-height: 0;

            &> span {
                font-weight: 300;
                font-size: x-large;
                color: #A8BCDB;
                font-style: italic;
            }
        }

        &> div {
            width: 45%;
        }
    }

    .block-info {
        background: var(--background-container);
        border: 3px solid var(--border);
        border-radius: 8px;
        padding: 1rem 3rem;
        font-size: large;

        &> p {
            display: grid;
            grid-template-columns: 10rem auto;
            line-height: 1.85;

            &> span {
                display: flex;
                align-items: center;
                
                .button {
                    margin-left: 5px;
                    background: var(--background-button);
                    color: var(--primary);
                    border-radius: 100%;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .link {
                color: var(--primary);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .block-txn {
        margin-bottom: 2rem;
        background: var(--background-container);
        border: 3px solid var(--border);
        border-radius: 8px;
        padding: 1rem 3rem;

        .block-txn__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .type {
                padding: 0.25rem 0.5rem;
                border-radius: 8px;
                background: var(--background-button);
            }

            .title {
                font-size: x-large;
                font-weight: bold;
                color: var(--primary);
            }
        }

        .block-txn__txn-list {
            width: 100%;

            &> div {
                margin-top: 1rem;
                display: grid;
                gap: 0.5rem;
                grid-template-columns: 27% 8% 27% 27% 8%;
                font-size: small;

                &> span {
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                }

                &> span:nth-child(1) {
                    color: var(--primary);
                }
            }

            &> div:nth-child(1) {
                font-size: medium;

                &> span:nth-child(1) {
                    color: var(--white);
                }
            }
        }
    }
}