@import './share.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --background-root: #132A47;
  --background-container: #112641;
  --border: #163153;
  --background-button: rgba(52, 152, 219, 0.1);
  --primary: #3498DB;
}
